/*---------------------------------------*\
       This has stylesheet has been
       compiled using Sass(SCSS).

       Any edits on this file will
    ruin the the space time continuum
              as we know it

\*---------------------------------------*/
/*
 * ------------------------------------
 * CSS file for 'insert client here'
 *
 * Media: ALL THE THINGS
 *
 * Author: Stuart Robson
 *
 * ------------------------------------
 */
/*
* @description:	/	SCSS font-size mixin, including generating line-heigh and margin-bottom.
*					Calculates REM with a PX fallback for oldIE and opera mini
*
* @author:	    	/	Stuart Robson
* @version:	    	/	0.1
* @date:	    	/	18/03/2013
*
*
* @example:			/
*
						a { @include font-size(16); }
					or
						a { @include font-size(16, no); }
*
* @type:			/	SCSS Mixin
* @notes:			/
* @tags:			/	^SCSS	^mixin	^	^	^
*/
/*
* @description:		/	SCSS font-size mixin
*
* @author:	    	/	Stuart Robson
* @version:	    	/	0.1
* @date:	    	/	19/03/2013
*
*
* @example:			/
*
						a { @include font-rem(16); }
*
* @type:			/	SCSS Mixin
* @notes:			/
* @tags:			/	^SCSS	^mixin	^	^	^
*/
/*
 * @description:	/	Calculate the REM from the passed number and the document font-size
 *						variable
 *
 *
 * @author:	    	/	Stuart Robson
 * @version:	    	/	0.1
 * @date:	    	/	18/02/2013
 *
 *
 * @example:			/
 *
 *						a { font-size: rem(16); }
 *
 * @type:			/	SCSS Function
 * @notes:			/
 * @tags:			/	^SCSS	^function	^	^	^
 */
/*
 * @description:	/	Calculate the EM from the passed number and the document font-size
 *						variable
 *
 *
 * @author:	    	/	Stuart Robson
 * @version:	    	/	0.1
 * @date:	    	/	18/02/2013
 *
 *
 * @example:			/
 *
 *						a { font-size: em(16); }
 *
 * @type:			/	SCSS Function
 * @notes:			/
 * @tags:			/	^SCSS	^function	^	^	^
 */
/*
* @description:	/	create width and height CSS from variables. If only the $width variable
*					passed then it uses it for the height also. To make a square.
*
*
* @author:	    	/	Stuart Robson
* @version:	    	/	0.1
* @date:	    	/	21/03/2013
*
*
* @example:			/
*
*						div { @include size(48px); }
*					or
*						div ( @include size(48px, 24px); )
*
* @type:			/	SCSS mixin
* @notes:			/
* @tags:			/	^SCSS	^mixin	^	^	^
*/
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@-ms-viewport {
  width: device-width;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

hgroup, ul, ol, dd, menu, dl, figure, pre, table, fieldset, legend, hr,
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

b, strong {
  font-weight: bold;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  min-height: auto;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

figure > img {
  display: block;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.chromeframe {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/* overwhemingly specific ----------- */
[role="main"] p,
[role="main"] ul,
[role="main"] ol {
  font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* endif */
