// circles

@mixin circle($size:'') {
  border-radius: 50%;
  height: auto;
  padding-bottom: 0% + $size;
  width: 0% + $size;
}

// square

@mixin square($size:'') {
  height: auto;
  padding-bottom: 0% + $size;
  width: 0% + $size;
}


// triangle