/*------------------------------------*\
    variables
\*------------------------------------*/

/* document font declarations ------- */

$doc-font-size: 16;
$doc-line-height: 24;

/* branding  ------------------------ */

$base-color: black;
$comp-color: green;
$third-color: red;
$alt-1: grey;
$alt-2: white;


/* typography  ------------------------ */

$body-font: Georgia, serif;
$header-font: $body-font;

/* links  --------------------------- */

$link-color: red;
$link-color-hover: darken($link-color, 10);
$link-color-visited: $link-color-hover;
$link-color-focus: darken($link-color-hover, 10);

/* errors & info  ------------------- */

$error: red;
$warning: purple;
$success: green;
$information: wheat;

/* selection colours ---------------- */

$selection: $link-color;
$selection-text: #FFF;