//-------------------------------------------------------
// GRID SETTINGS
//-------------------------------------------------------

// this is the fixed gutter between columns
$grid-gutter: 3em;

// this sets your class names
$grid-wrap-class: grid-wrap;
$grid-col-class: grid-col;

//-------------------------------------------------------
// GRID MIXINS
//-------------------------------------------------------
$half-gutter : $grid-gutter / 2;

@mixin grid-config {

	.#{$grid-wrap-class} {    
	    margin-left: -$grid-gutter; // the same as your gutter
	    overflow: hidden;
	    clear: both; }
	   
	.#{$grid-col-class} {
	    float: left;
	    padding-left: $grid-gutter; // the gutter between columns
	    width: 100%;
	    -webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box; }
	
	.half-gutter {
		margin-left: -$half-gutter;
	
		.#{$grid-col-class} {
			padding-left: $half-gutter; }
	
	}	

}	

// set the proportions you want to use
// $namespace relates to the class prefix e.g. bp2-col to target breakpoint 2
@mixin grid-setup($namespace) {

	.#{$namespace}-full         	{ width: 100%; }
	.#{$namespace}-one-half         { width: 50%; }
	.#{$namespace}-one-third        { width: 33.333%; }
	.#{$namespace}-two-thirds       { width: 66.666%; }
	.#{$namespace}-one-quarter      { width: 25%; }
	.#{$namespace}-three-quarters   { width: 75%; }
	
}

// account for no border-box in IE7/6
@mixin grid-config-oldie {

	.lt-ie8 {
		.#{$grid-wrap-class} {
			margin-left: 0; }
		
		.#{$grid-col-class} {
			padding: 0;
			margin-left: 5%;
			
			&:first-child {
				margin-left: 0; }		
		}
	}
	
}

// amend widths slightly for IE7/6
@mixin grid-setup-oldie($namespace) {

	.lt-ie8 {
		.#{$namespace}-full         	{ width: 99.95%; }
		.#{$namespace}-one-half         { width: 47.45%; }
		.#{$namespace}-one-third        { width: 29.55%; }
		.#{$namespace}-two-thirds       { width: 64.95%; }
		.#{$namespace}-one-quarter      { width: 19.95%; }
		.#{$namespace}-three-quarters   { width: 74.95%; }
	}
	
}

//-------------------------------------------------------
// ADDED SUPPORT
// Mixins to work with http://goo.gl/uwyT6
//-------------------------------------------------------

// include grids-init to set up your grids with your base class
// i.e. @include grids-init("col");
@mixin grids-init($class) {
	
	@include grid-config;
	@include grid-setup($class);
	
	@if $old-ie {
		@include grid-config-oldie;	
		@include grid-setup-oldie($class);
	}
	
	
}

// include grids-include with your class for each breakpoint
// e.g. respond-min(30em) { @include grid-include("bp1-col"); } 
@mixin grid-include($class) {
	
	@include grid-setup($class);
	
	@if $old-ie {
		@include grid-setup-oldie($class);
	}
	
}




/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/

body {
	margin: 0;
	font: 1em/1.5 sans-serif; }

.strip {
	background: #891434;
	color: #fff;
	padding: 1em 5%;
	
	p {
		text-align: left;
		font-size: 1.2em; }
}
	
.container {
	width: 90%;
	margin: 2em auto; }
	
p {
	text-align: justify;
	margin: 0 0 1.5em 0; }

a {
	color: #fff; }
	
h2 {
	margin-top: 0; }

/* -- Begin grids
------------------------------------------------------------- */	
/* -- Use this wrapper if you want to divide your columns -- */
	
.divide-bottom {
    border-bottom: 1px solid #ccc;
	margin-bottom: 1.5em; } 

/* -- Use this wrapper if you want to block-out a column with padding 
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */

.island {
	padding: 1.5em;
	background-color: #ececec;
	
	:last-child {
		margin-bottom: 0; }
	
}
	
/* -- Set up your grids -- */
@include grid-config;	
		
/* -- If you want any columns to begin with -- */		
@include grid-setup("col");

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */			
@media only screen and (min-width: 30em) {
 
    @include grid-setup("bp1-col");
    
}
   
/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */			
@media only screen and (min-width: 48em) {

    @include grid-setup("bp2-col");
    
}

/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */			
@media only screen and (min-width: 60em) {

    @include grid-setup("bp3-col");
    
}