/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/
@import "grids";

// repeat for each set of grids you have
@include grid-setup("bp1-col");
@include grid-setup("bp2-col");
@include grid-setup("bp3-col");

// serve fixed-width to IE
.lt-ie9 .container, {
	width: 960px; }

/* -- IE7 or less
------------------------------------------------------------- */			
@include grid-config-oldie();
@include grid-setup-oldie("col");

// repeat for each set of grids you have
@include grid-setup-oldie("bp1-col");
@include grid-setup-oldie("bp2-col");
@include grid-setup-oldie("bp3-col");