.licences {
	margin: 0 auto 40px auto;
	margin: 0 auto 4rem auto;
	max-width: 1140px;
	font-size: 0;
	@media (min-width: 50em) {
		height: 470px;
		padding-left: 2%;
	}
	@media (min-width: 62.5em) {
		padding-left: 4.3859649%;
	}
}

.first-licences {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYjhiNyIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIwLjUyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZkZmVmZSIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(187,184,183,0.65) 0%, rgba(220,220,220,0.52) 20%, rgba(253,254,254,0.33) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,184,183,0.65)), color-stop(20%,rgba(220,220,220,0.52)), color-stop(50%,rgba(253,254,254,0.33)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(187,184,183,0.65) 0%,rgba(220,220,220,0.52) 20%,rgba(253,254,254,0.33) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(187,184,183,0.65) 0%,rgba(220,220,220,0.52) 20%,rgba(253,254,254,0.33) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(187,184,183,0.65) 0%,rgba(220,220,220,0.52) 20%,rgba(253,254,254,0.33) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(187,184,183,0.65) 0%,rgba(220,220,220,0.52) 20%,rgba(253,254,254,0.33) 50%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6bbb8b7', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
padding-top: 40px;
margin-bottom: 40px;
height: 500px;
}

.offer {
	min-height: 490px;
	background-color: #2f2f2f;
	display: block;
	margin: 0 auto;
	margin-left: 5%;
	margin-right: 1.111%;
	margin-bottom: 2rem;
	padding-top: 2.4rem;
	padding-left: 24px;
	position: relative;
	font-size: 0;
	width: 90%;
	@media (min-width: 21em) {
		min-height: 450px;
	}
	@media (min-width: 30em) {
		min-height: 380px;
	}
	@media (min-width: 50em) {
		display: inline-block;
		float: left;
		margin-left: 0;
		min-height: 470px;
		width: 32%;	
	}
	@media (min-width: 62.5em) {
		margin-bottom: 0;
		display: inline-block;
		width: 29.35%;
	}	
	@media (min-width: 62.5em) {
		margin-right: 3.333%;
	}
	&:last-of-type {
		background-color: #ff7700;
		margin-right: 0;
	}
	h1 {
		color: #fFF;
		font-size: 32px;
		font-size: 3.2rem;
		letter-spacing: -2px;
		margin-bottom: 0;
		@media (min-width: 50em) {
			font-size: 24px;
			font-size: 2.4rem;
		}
		@media (min-width: 56.25em) {
			font-size: 32px;
			font-size: 3.2rem;
		}
		span {
			clear: both;
			float: left;
			color: #818181;
			font-size: 18px;
			font-size: 1.8rem;
			font-weight: normal;
			letter-spacing: 0;
			width: 100%;
			&:last-of-type {
				color: #FFF;
			}
			@media (min-width: 56.25em) {
				font-size: 22px;
				font-size: 2.2rem;
			}
		}
	}
	
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		color: #FFF;
		font-size: 14px;
		font-size: 1.4rem;
		display: list-item;
		line-height: 1.2;
		margin-bottom: 6px;
		position: relative;
		padding-left: 20px;
		&:before {
			content: "";
			background-image: url(../img/sprite.png);
			background-position: -4px -24px;
			background-repeat: no-repeat;
			left: 0;
			height: 6px;
			position: absolute;
			top: 6px;
			width: 11px;
		}
		a {
			color: #ffba7e;
			text-decoration: underline;
		}
	}
}

.federal-licence h1 {
	margin-bottom: 4px;
}

.price {
	color: #ff8b26;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: bold;
	margin: 0 0 16px 0;
	margin: 0 0 1.6rem 0; 
	position: relative;
	&:last-of-type {
		color: #FFF;
	}
	@media (min-width: 56.25em) {
		margin: 0 0 24px 0;
		margin: 0 0 2.4rem 0;
	}
	span {
		color: darken(#FFF, 33%);
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: normal;
		position: absolute;
		left: 90px;
		text-transform: uppercase;
		top: 14px;
		&:last-of-type {
			color: #FFF;
		}
	}
}

.offer-description {
	color: #FFF;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.6;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	position: relative;
	padding-right: 20px;
}
.offer-buttons {
	position: absolute;
	bottom: 18px;
	width: 96%;
	max-width: 340px;
	@media (min-width: 56em) {
		width: 94%;
	}	
}
.learn-more, .buy-licence {
	display: block;
	font-size: 16px;
	font-size: 1.6rem;
	height: 40px;
	margin-bottom: 10px;
	margin-bottom: 1rem;
	text-align: center;
	width: 88%;
	@media (min-width: 37.5em) {
	margin-left: 1%;
	width: 90%;
	}
	&:hover {
		background-color: #26170a;
		color: #FFF;
	}
}

.learn-more {
	background-color: #6c6c6c;
	color: darken(#FFF, 25%);
}
.buy-licence {
	background-color: #ff9933;
	color: #FFF;
}