.questions {
	background-image: url(../img/questions-bg.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	height: 1100px;
	margin: 0 auto;
	max-width: 1140px;
	padding-top: 110px;
	padding-top: 11rem;
	width: 100%;
	h1 {
		color: #ff9933;
		font-size: 32px;
		font-size: 3.2rem;
		letter-spacing: -1px;
		text-align: center;
	}
}
.q-and-a {
	margin: 8rem auto 0 auto;
	width: 56.1403509%;
}
.question {
	color: #FFF;
	font-family: "museo100", arial, helvetica, sans-serif;
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: bold;
}
.answer {
	p, li {
		color: #FFF;
		font-family: "museo100", arial, helvetica, sans-serif;
		font-size: 22px;
		font-size: 2.2rem;
	}
}

.load-more {
	background-color: #f47721;
	color: #FFF;
	font-size: 18px;
	font-size: 1.8rem;
	position: relative;
	top: -22px;
	top: -2.2rem;
	@media (min-width: 56.25em) {
		top: -44px;
		top: -4.4rem;
	}
	&:hover {
		background-color: #26170a;
	}
}
