.questions {
	background-image: url(../img/questions-bg.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	height: 1100px;
	margin: 0 auto;
	max-width: 1140px;
	padding-top: 110px;
	padding-top: 11rem;
	width: 100%;
	h1 {
		color: #ff9933;
		font-size: 32px;
		font-size: 3.2rem;
		letter-spacing: -1px;
		text-align: center;
	}
}