.testimonials {
	max-width: 1140px;
	margin: 0 auto;
	background-color: #302d2d;
	background-image: url(../img/testimonial-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 1em 2%;
	text-align: center;
	width: 100%;
	@media (min-width: 56.25em) {
		padding: 8.5em 14.9122807% 0 14.9122807%;
	}
	h1 {
		color: #ff993f;
		font-size: 32px;
		font-size: 3.2rem;
		text-align: center;
	}
	p {
		color: #FFF;
		font-size: 18px;
		font-size: 1.8rem;
		text-align: center;
	}
	select {
		-webkit-appearance: button;
		border-radius: 0px;
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-webkit-padding-end: 20px;
		-webkit-padding-start: 2px;
		-webkit-user-select: none;
		background-color: #FFF;
		background-image: url(../img/sprite.png);
		background-position: 360px 10px;
		background-repeat: no-repeat;
		border: 1px solid #AAA;
		color: #555;
		font-size: 18px;
		font-size: 1.8rem;
		margin: 0;
		max-width: 400px;
		overflow: hidden;
		padding-top: 2px;
		padding-left: 2%;
		padding-bottom: 2px;
		margin-bottom: 30px;
		margin-bottom: 3rem;
		text-overflow: ellipsis;
		white-space: nowrap;	
		line-height: 3.2rem;
		width: 96%;
		-moz-appearance: none;
		@media (min-width: 56.25em) {
			margin-bottom: 60px;
			margin-bottom: 6rem;			
			width: 400px;
		}
	}
}

.reviews {
	padding: 0 3.50877195%;
	font-size: 18px;
	font-size: 1.8rem;
	@media (min-width: 56.25em) {
		padding: 0 7.0175439%;
	}
	hr {
		margin: 0 auto;
		width: 70px;
	}
	article p {
		display: inline-block;
	}
}

article .review {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0 0 40px 0;
	margin: 0 0 4rem 0;
	@media (min-width: 56.25em) {
		margin: 0 0 80px 0;
		margin: 0 0 8rem 0;
	}
}


article .quote {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 22px;
	margin-bottom: 2.2rem
}

.divider {
	padding: 0 1%;
	margin: 0 0 8rem 0;
}

.btn {
	padding: 0.8rem 1.6rem;
	cursor: pointer;
	text-transform: uppercase;
}

.load-more {
	background-color: #f47721;
	color: #FFF;
	position: relative;
	top: -22px;
	top: -2.2rem;
	@media (min-width: 56.25em) {
		top: -44px;
		top: -4.4rem;
	}
	&:hover {
		background-color: #26170a;
	}
}