.feature-in {
	margin: 0 3.5087719%;
	p {
		font-family: "museo100", arial, helvtica, sans-serif;
		font-size: 22px;
		font-size: 2.2rem;
		@media (min-width: 56.25em) {
			display: inline-block;
		}
	}
	ul {
		display: inline-block;
		margin: 0 auto;		
		text-align: center;
		@media (min-width: 71.1875em) {
			height: 27px;
			text-align: right;
		}
	}
	li {
		@include ir;
		background-image: url(../img/feature-in.gif);
		background-repeat: no-repeat;
		cursor: pointer;
		height: 40px;
		width: 115px;
		display: inline-block;
		@media (min-width: 37.5em) {
		}
	&:hover {
		background-position-x: -125px;
	}
	}
}

.guns-ammo {
	background-position-y: 0;
}

.american-rifleman {
	background-position-y: -40px;
}

.gun-digest {
	background-position-y: -80px;	
}

.shotgun-news {
	background-position-y: -120px;
}

.rifle-shooter {
	background-position-y: -160px;
}

.handguns {
	background-position-y: -200px;
}

.shooting-times {
	background-position-y: -240px;
}