/*------------------------------------*\
    Typography
\*------------------------------------*/

/* overwhemingly specific ----------- */

html {

}

body {

}

/* links ---------------------------- */

a {
	&:link {

	}

	&:visited {

	}

	&:hover, &:focus {

	}

	&:active {

	}
}

/* one way margins ------------------ */

p, h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dd, figure, pre, table, fieldset, legend, hr {

}

/* copy ----------------------------- */

[role="main"] p,
[role="main"] ul,
[role="main"] ol {

}

/* Headings ------------------------- */

h1, h2, h3, h4, h5, h6 {

}

h1,.alpha{

}
h2,.beta{

}
h3,.gamma{

}
h4,.delta{

}
h5,.epsilon{

}
h6,.zeta{

}

/* Elements -------------------------- */

small,.milli {

}

.giga{

}
.mega{

}
.kilo{

}

blockquote {

	&:before {

	}
}