

// font-size mixin

	@mixin font-size($size, $margin:yes, $line-height:$doc-line-height) {
		@if $margin == yes  {
			font-size: 0px + $size;
			font-size: $size / $doc-font-size +rem;
			line-height: ceil($size / $doc-line-height) * ($doc-line-height / $size);
			margin-bottom: 0px + $line-height;
			margin-bottom: ($line-height / $doc-font-size)+rem;
		}
		@if $margin == false {
			font-size: 0px + $size;
			font-size: $size / $doc-font-size +rem;
			line-height: ceil($size / $line-height) * ($line-height / $size);
		}
		@if $line-height != $doc-line-height {
			font-size: 0px + $size;
			font-size: $size / $doc-font-size +rem;
			line-height: $line-height;
			margin-bottom: 0px + $line-height;
			margin-bottom: ($line-height / $doc-font-size)+rem;
		}
		@else {
			font-size: 0px + $size;
			font-size: $size / $doc-font-size +rem;
			margin-bottom: 0px + $margin;
			margin-bottom: 0rem + $margin / $doc-font-size;
		}
	}

// font-size for just REMs with px fallback

	@mixin font-rem($size) {
	  	font-size: 0px + $size;
	  	font-size: $size / $doc-font-size +rem;
	}