%single {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 9.5785441%;
}
%twos {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 20.8812261%;
}
%thirds {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 32.1839081%;
}
%forths {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 43.4865901%;
}
%fifths {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 54.7892721%;
}
%sixths {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 66.0919541%;
}
%sevenths {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 77.3946361%;
}
%eights {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 88.6973181%;
}
%quarters {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 23.706896575%;
}
%half {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 49.13793105%;
}
%three-quarters {
	display: inline-block;
	margin-right: 1.7241379%;
	width: 74.568965525%;
}
%last {
	margin-right: 0;
}